.timer {
    display: flex;
}

input {
    width: 295px;
    border: 1px solid rgba(0, 0, 0, 0.171);
    padding: 5px 5px;
}

button {
    padding: 4px;
    border-radius: 0.5px solid #000;
    text-transform: uppercase;
    transition: all .25s linear;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 75px;
}

.field:not(:last-child) {
    margin-right: 20px;
}

.value {
    font-size: 36px;
}

.label {
    text-transform: uppercase;
    font-weight: 500;
}